@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$font_family: "Manrope", sans-serif;
$font_family2: "Gilroy-Medium", sans-serif;

$gradient_text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
$gradient_bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

$white: #fff;
$bg_btn: #ff4820;
$bg_color: #040c18;
$footer_color: #031b34;
$blog_color: #042c54;
$text_color: #81afdd;
$subtext_color: #ff8a71;
$possibility_color: #71e5ff;
